#main-screen, #main-roulette {
    position: relative;
    width: 100%;
}

/* Make the image responsive */
#main-screen img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
#main-screen .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

.roulette_container {
    position: absolute;
    left: 725px;
    top: 500px;
    overflow: hidden;
    height: 64px;
}

.btn-1 {
    top: 72%;
    left: 43%;
}

.btn-2 {
    top: 72%;
    left: 62%;
}

.btn-main {
    top: 72%;
    left: 50%;
}

.roulette {
    position: relative;
    height: 64px!important;
    width:56px!important;
    transform: translate(0px, 0px);
    display: inline-block;
}

.roulette img {
    display: block;
    margin-right: 2px;
}

.btn_container {
    position: absolute;
    top: 450px;
    left: 1500px;
    width: 150px;
}

button.btn.btn-large {
    width: 150px;
    height: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.customer {
    position: absolute;
    top: 800px;
    left: 36%;
    font-size: 20px;
}

.name {
    margin-bottom: 10px;
}

span#c-name {
    font-weight: bold;
    font-size: 25px;
    color: #ff0000;
}

span#c-orderId {
    color: #ff0000;
}
.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    margin-top: 25px;
    width: 100px;
    height: 60px;
    font-size: 30px;
}
.customer span {
    color: #005aab;
}
.deactive {
    opacity:0.5;
}